$grey: grey;


footer {
	color: $grey;
	background: #061423;
    padding-top: 4vh;
    .social-icons {
        img {
            height: 2rem;
        }
        a {
            color: $grey;
            text-decoration: none;
            font-size: 13px;
        }
    }
    .link-container {
        a {
            color: $grey;
            text-decoration: none;
            font-size: 13px;
        }
    }
    .footer-copyright {
        color: $grey;
        text-decoration: none;
        font-size: 13px;
        text-align: left;
    }
}


@media screen and (max-width: 1087px) {

    .subfootersection{
        width: 98% ;
    }
    footer {

    .footer-copyright{
        text-align: center;
    }
}
}