.socialIcons img{
    Height:2rem;
    }
.linkContainer a,.socialIcons a,.footerCopyright{
color: grey;	
text-decoration: none;
font-size: 13px;
}
footer{
    color: grey;	
    background:#061423;
}
.footerCopyright{
text-align:left;
}