// COLOR CODES
$white: white;
$translucent-blue: #071828d6;
$solid-blue:#0c2336;
$dark-blue: #015a5b;
$cyan:#119997;
$light-cyan:#139c9a;
$navy-blue:#071a2b;
$yellow: #f4be0d;
$orange:#cb5d1c;
$solid-blue-2:#0A1928;

.main-content {
	background: $solid-blue;
	background-image: linear-gradient(50deg, $navy-blue, $solid-blue);
	z-index: -1;
	padding-top: 7rem;
	padding-left: 8vw;
	padding-right: 8vw;

 
    .header {
        padding-bottom:4vh ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 25% 20%;
        background-image: radial-gradient( rgba(12, 35, 54, 0.896), rgba(12, 35, 54, 0.75)), url(
    '../images/bg-img-unscreen.gif');
        h5 {
            text-transform: uppercase;
        }
        .btn-container {
            button {
                border: none;
                width: 49%;
                padding: 0.7rem;
            }
            .btn-buy {
                background: $light-cyan;
            }
            .btn-sell {
                background: $orange;
            }
        }
        .left {
            >p {
                text-align: center;
                font-weight: 700;
                padding-top: 0.8rem;
                font-size: 14px;
            }
        }
        .right {
            padding-left: 2rem;
            p {
                font-size: 15px;
            }
            >h3 {
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1.2px;
            }
        }
        
        .bottom-container {
            background-color: $translucent-blue;
            padding: 1rem;
            justify-content: inherit;
            flex-wrap: wrap;
            h6 {
                font-size: 13px;
            }
            img {
                height: 1.7rem;
            }
            h5 {
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 4px;
                text-transform: capitalize;
            }
            .flex-column {
                width: fit-content;
                padding:5px 0;
            }
        }
    }
    
    .version-container {
        padding: 8vh 0;
        .btm-content {
            padding: 1rem 0;
            h6 {
                font-size: 14px;
                font-weight: 700;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .dark-bg{
        padding: 0.5rem;
        background: linear-gradient(290deg, $navy-blue, $solid-blue);
    }
}
.card {
    border: none;
    .card-header {
        .stickybtn {
            top: -14px;
            left: 0;
            font-size: 13.5px;
            position: relative;
            padding: 0px 0.4rem;
            height: 24px;
            width: 100px;
            background-image: linear-gradient(0deg, $dark-blue, $cyan);
            color: $white;
            font-weight: 900;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 29px solid transparent;
            border-right: 29px solid transparent;
            border-top: 16.8675px solid $dark-blue;
        }
    }
        background: linear-gradient(194deg,$navy-blue,#0c2336);
        border: 1px solid #362b05;
        border-bottom: 1px solid #f4be0d;
        border-top-right-radius: 5px !important;
        border-top-left-radius: 5px !important;
    }
    .card-body {
        .stickybtn {
            background-image: linear-gradient(0deg, $dark-blue, $cyan);
            color: $white;
            font-weight: 900;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 13px;
            margin: auto;
            border-bottom: 22px solid $dark-blue;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            height: 0;
            width: 113px;
            text-align: center;
            p{

                padding-top: 6px;

            }
        }
        
        background: $solid-blue-2;
        border: 1px solid #362b05;

    }
    .card-img-top {
        height: 16rem;
        width: auto;
    }
    .rank {
        img {
            height: 3.4rem;
        }
    }
    .summary {
        position: absolute;
        display: flex;
        margin-top: -3.4rem;
        img {
            height: 3rem;
        }
    }
    .card-title {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 19px;
    }
    .description {
        line-height: 1.4;
        font-size: 14px;
    }   
}

@media  (min-width: 767px) and (max-width: 1000px) {
    .main-content {
        .header {
            .right{
             p{
                 font-size: 12px;
             }
        }
    }
}
}

@media screen and (max-width: 768px) {

	.main-content {
		padding-left: 0rem ;
		padding-right: 0rem;
	}
	.header {
		flex-direction: column;
		.right {
			padding:2rem;
		}
      
        .btn-container {
            padding-left: 1rem;
            padding-right: 1rem;
            button{
                padding: 0.4rem;
                font-size: 14px;
            }
        }
        .bottom-container {
            flex-wrap: wrap;
            div {
                margin-bottom: 0.7rem;
            }
        }
	}

	.dark-bg{
        width: 19rem;
    margin: auto;
    padding: 0.5rem;
    }
    .card {
        margin: auto;
        .card-title {
            font-size: 17px ;
        }
        .description {
            font-size: 12px;
        }
        .card-header{
            .stickybtn{
                padding-top: 0.4rem !important;
            }
        }
        .card-body {
            .stickybtn {
                p {
                    padding-top: 3px;
                }
            }
        }
    }
    .version-container{
        width: 90%;
        margin: auto;
        padding: 3vh 0;
    }
}