// COLOR CODES
$white: white;
$translucent-blue: #071828d6;
$solid-blue:#0c2336;
$dark-blue: #015a5b;
$cyan:#119997;
$light-cyan:#139c9a;
$navy-blue:#071a2b;
$yellow: #f4be0d;
$orange:#cb5d1c;
$solid-blue-2:#0A1928;

.mainContent {
	background: $solid-blue;
	background-image: linear-gradient(0deg, $navy-blue, $solid-blue);
	z-index: -1;
	padding-top: 7rem;
	padding-left: 5rem;
	padding-right: 5rem;

    .card {
        border: none;
        .card-header {
            .stickyBtn {
                top: -14px;
                left: 0;
                font-size: 13.5px;
                position: relative;
                padding: 0px 0.4rem;
                height: 24px;
                width: 100px;
                background-image: linear-gradient(0deg, $dark-blue, $cyan);
                color: $white;
                font-weight: 900;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            &::after {
                content: "";
                position: absolute;
                bottom: -16px;
                left: 0;
                width: 0;
                height: 0;
                border-left: 29px solid transparent;
                border-right: 29px solid transparent;
                border-top: 16.8675px solid $dark-blue;
            }
        }
            background: linear-gradient(194deg,$navy-blue,#0c2336);
            border: 1px solid #362b05;
            border-bottom: 1px solid #f4be0d;
            border-top-right-radius: 5px !important;
            border-top-left-radius: 5px !important;
        }
        .card-body {
            .stickyBtn {
                background-image: linear-gradient(0deg, $dark-blue, $cyan);
                color: $white;
                font-weight: 900;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 13px;
                margin: auto;
                border-bottom: 22px solid $dark-blue;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                height: 0;
                width: 113px;
                text-align: center;
                p{

                    padding-top: 6px;

                }
            }
            
            background: $solid-blue-2;
            border: 1px solid #362b05;

        }
        .card-img-top {
            height: 16rem;
            width: auto;
        }
        .rank {
            img {
                height: 3.4rem;
            }
        }
        .summary {
            position: absolute;
            display: flex;
            margin-top: -3.4rem;
            img {
                height: 3rem;
            }
        }
        .card-title {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 19px;
        }
        .description {
            line-height: 1.4;
            font-size: 14px;
        }   
    }
    
    .header {
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 25% 20%;
        background-image: radial-gradient( rgba(12, 35, 54, 0.896), rgba(12, 35, 54, 0.75)), url(
    '../images/bg-img-unscreen.gif');
        h5 {
            text-transform: uppercase;
        }
        .btnContainer {
            button {
                border: none;
                width: 49%;
                padding: 0.7rem;
            }
            .btnBuy {
                background: $light-cyan;
            }
            .btnSell {
                background: $orange;
            }
        }
        .left {
            >p {
                text-align: center;
                font-weight: 700;
                padding-top: 0.8rem;
                font-size: 14px;
            }
        }
        .right {
            padding-left: 2rem;
            p {
                font-size: 15px;
            }
            >h3 {
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1.2px;
            }
        }
        
        .bottomContainer {
            background-color: $translucent-blue;
            padding: 1rem;
            justify-content: inherit;
            h6 {
                font-size: 13px;
            }
            img {
                height: 1.7rem;
            }
            h5 {
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 4px;
                text-transform: capitalize;
            }
            .flex-column {
                width: fit-content;
            }
        }
    }
    
    .versionContainer {
        .btmContent {
            padding: 1rem 0;
            h6 {
                font-size: 14px;
                font-weight: 700;
            }
            p {
                font-size: 14px;
            }
        }
    }
    
}


@media screen and (max-width: 768px) {

	.mainContent {
		padding-left: 0rem ;
		padding-right: 0rem;
	}
	.header {
		flex-direction: column;
		.right {
			padding: 0rem 2rem;
		}
        .card {
            margin: auto;
            .card-title {
                font-size: 17px ;
            }
            .description {
                font-size: 12px;
            }
            .card-body {
                .stickyBtn {
                    p {
                        padding-top: 3px;
                    }
                }
            }
        }
        
        .btnContainer {
            padding-left: 1rem;
            padding-right: 1rem;
            button{
                padding: 0.4rem;
                font-size: 14px;
            }
        }
        .bottomContainer {
            flex-wrap: wrap;
            div {
                margin-bottom: 0.7rem;
            }
        }
	}

    .mainContent .card .card-body .stickyBtn p {
        padding-top: 3px;
    }
	
}