.tblVersion{
    --bs-table-bg: #071420;
    --bs-table-striped-bg: #0A1928;
    --bs-table-border-color: transparent;
    text-align:center;
    --bs-table-hover-bg: #071420;
    --bs-table-striped-color: grey;
}

.tblVersion th{
    color:white;
    font-size:13px;
    padding:1rem 0.5rem !important;
    align-items:center;
}
.tblVersion th img{
    height:2rem;
}
.tblVersion td{
    color:grey;
    font-weight:400;
    font-size:12px;
}
.tblContainer{
    background: #071420;
    padding: 0rem 1.5rem 1.8rem 1.5rem;
}

.optContainer button {
    font-size: 11px;
    background: transparent;
    border: none;
    font-weight: 800;
    color: grey;
    padding: 1.5rem 0;
    width: 100%;
    border-radius:0;
}
.optContainer button:hover{
    border-bottom: 2px solid #f4be0d !important;
    background:transparent;
    border:none;
}