// COLOR CODES

$grey: grey;
$white: white;
$translucent-blue: #071828d6;
$solid-blue:#071420;
$solid-blue-II:#0A1928;
$yellow: #f4be0d;


.versions{
    width: 75%;
}
.tbl-version {
    --bs-table-bg: $solid-blue;
    --bs-table-striped-bg: #0A1928;
    --bs-table-border-color: transparent;
    text-align: center;
    --bs-table-hover-bg: $solid-blue;
    color: grey;
	th {
		color: $white;
		font-size: 13px;
		padding: 1rem 0.5rem !important;
		align-items: center;
		img {
			height: 2rem;
		}
	}
	td {
		color: $grey;
		font-weight: 400;
		font-size: 12px;
	}
}
.tbl-container {
	background: $solid-blue;
	padding: 0rem 1.5rem 1.8rem 1.5rem;
}
.opt-container {
	button {
		font-size: 11px;
		background: transparent;
		border: none;
		font-weight: 800;
		color: $grey;
		padding: 1.5rem 0;
		width: 100%;
		border-radius: 0;
		&:hover {
			border-bottom: 2px solid $yellow !important;
			background: transparent;
			border: none;
		}
        &:focus-visible, &:active{
            background-color: transparent !important;
            outline: none;
            border: none;
            box-shadow: none;
        }
	}
}
.active-btn{
    border-bottom: 2px solid $yellow !important;
    background: transparent;
    border: none;
}
.styles-module_carousel-arrow__26sRw {
	display: none;
}


@media screen and (max-width: 768px) {

	.vrsn-details{
		width: 90%;
		margin: auto;
	}
	.opt-container {
		button {
			font-size: 9px ;
		}
	}
    
    .version-container {
        >p {
            font-size: 11px;
            margin-top: 0.2rem;
        }
        >h6 {
            font-size: 14px;
        }
    }
    .tbl-version  {
        th{
            img{
        height: 1.5rem ;
            }
            font-size: 10px ;
        }
    }
    
}
