// COLOR CODES ---
$grey: grey;
$white: white;
$yellow: #f4be0d;

// FONTS ---
$font-family_1: 'Gotham-med';
$font-family_2: 'Gotham-light';
$font-family_3: 'Gotham';

@font-face {
	font-family: 'Gotham-med';
	src: url("./assets/fonts/Gotham-Font/GothamMedium.ttf") format('truetype');
}
@font-face {
	font-family: 'Gotham-light';
	src: url("./assets/fonts/Gotham-Font/GothamLight.ttf") format('truetype');
}
@font-face {
	font-family: 'Gotham';
	src: url("./assets/fonts/Gotham-Font/GothamBook.ttf") format('truetype');
}

.goth-med {
	font-family: $font-family_1;
	line-height: unset;
	margin-top: 0.5rem;
}
.goth-light {
	font-family: $font-family_2;
	line-height: unset;
	margin-top: 0.5rem;
}
.goth {
	font-family: $font-family_3;
	line-height: unset;
	margin-top: 0.5rem;
}

// GLOBAL COLORS ---
.txt-grey {
	color: $grey;
}
.txt-white {
	color: $white;
}
.txt-yellow {
	color: $yellow;
}
.txt-blue{
	color:#2D8FE8;
}