@font-face {
  font-family: 'Gotham-med';
  src: url("./assets/fonts/Gotham-Font/GothamMedium.ttf") format('truetype');
}
@font-face {
  font-family: 'Gotham-light';
  src: url("./assets/fonts/Gotham-Font/GothamLight.ttf") format('truetype');
}
@font-face {
  font-family: 'Gotham';
  src: url("./assets/fonts/Gotham-Font/GothamBook.ttf") format('truetype');
}
.txtGrey{
  color:grey;
}
.txtWhite{
  color:white;
}
.txtYellow{
  color:#f4be0d;
}
.goth-med{
  font-family: 'Gotham-med';
  line-height:unset;
  margin-top: 0.5rem;
}
.goth-light{
  font-family: 'Gotham-light';
  line-height:unset;
  margin-top: 0.5rem;
}
.goth{
  font-family:'Gotham';
  line-height:unset;
  margin-top: 0.5rem;
}